# Node.js dependencies
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.local

# Build files
commentDataInput/*
dataInput/*
redditOutput/*
redditCommentOutput/*

# VS Code settings
.vscode/
*.code-workspace

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows
